# Python cache / compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
.venv/
.env/

# Pytest cache
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Temporários / logs
*.log
dados.txt

# Variáveis sensíveis
.env
.env.local
.env.*.local

# Build
dist/
build/
docs/